// Icon Styles

.price {
  bottom: 0px;
  left: 12px;
}

#on-sale,
#out-of-stock {
  top: 0px;
  right: 12px;
}

#out-of-stock {
  background: #f27e4b;
  width: 68px;
}

.card-custom {
  img {
    position: absolute;
    width: 110px;
    top: 5px;
    left: 5px;
  }
}

.card-body-custom {
  margin-left: 120px;
  border-left: 1px solid map-get($map: $theme-colors, $key: 'secondary');
}
