// Icon Styles

.price {
  bottom: 0px;
  left: 12px;
}

.on-sale,
.out-of-stock {
  top: 0px;
  right: 12px;
}

.out-of-stock {
  background: #f27e4b;
  width: 68px;
}

.card-custom {
  img {
    position: absolute;
    width: 110px;
    top: 5px;
    left: 5px;
  }
}

.card-body-custom {
  margin-left: 120px;
  border-left: 1px solid map-get($map: $theme-colors, $key: 'secondary');
  padding-top: 0.75rem !important;
  padding-bottom: 0.25rem !important;
  height: 90px !important;
  @include media-breakpoint-up(md) {
    height: initial !important;
  }
}

.card-body {
  padding-left: 85px;
  height: 65px;
}
