// Typography Styles

@font-face {
  font-family: 'Aller Regular';
  src: url('./fonts/Aller_Rg.eot');
  src: url('./fonts/Aller_Rg.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/aller_rg-webfont.woff') format('woff'),
    url('./fonts/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.h7 {
  font-size: 0.875 * 1rem !important;
}

.h8 {
  font-size: 0.8125 * 1rem;
}

.h9 {
  font-size: 0.75 * 1rem;
}

.h10 {
  font-size: 0.6875 * 1rem;
}

.h11 {
  font-size: 0.625 * 1rem;
}

.nowrap {
  white-space: nowrap;
}
