// Typography Styles

@font-face {
    font-family: 'Aller Regular';
    src: url('../../../public/fonts/Aller_Rg.eot');
    src: url('../../../public/fonts/aller_rg-webfont.woff') format('woff'),
         url('../../../public/fonts/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}