$theme-colors: (
  'primary': #242424,
  'secondary': #6e6e6e,
  'light': #ebe7df,
  'info': #57c5a0,
  'nav-borders': #eeeeee
);

$grid-breakpoints: (
  // Extra small screen / phone

    xs: 0,
  // Small screen / phone

    sm: 320px,
  // Medium screen / tablet

    md: 768px,
  // Large screen / desktop

    lg: 960px,
  // Extra large screen / wide desktop

    xl: 1200px
);

$container-max-widths: (
  sm: 719px,
  md: 720px,
  lg: 920px,
  xl: 1140px
);

$font-family-base: 'Aller Regular';
$navbar-brand-font-size: 1.5rem;
// Links
// Style anchor elements.
$link-hover-decoration: none;
// Carousel background images
$carousel-bg-img: pink, white, kids;
