// Containers Styles

.jumbotron {
  background: url(../../../public/img/carousel/background.jpg) repeat-x;
  background-size: contain;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

// .carousel {
//   max-height: 551px;
// }

// .carousel-inner {
//   height: 461px;
// }

.carousel-item {
  height: 461px;
}

@for $i from 2 through length($carousel-bg-img) + 1 {
  $img-path: nth($carousel-bg-img, $i - 1);
  .carousel-inner > div:nth-child(#{$i}) {
    @include media-breakpoint-down(sm) {
      background: url(../../../public/img/carousel/#{$img-path}_shoes.jpg);
      background-size: cover;
    }
  }
}

.carousel-indicators li {
  width: 180px;
  opacity: 0;
}

.list-inline-item > p {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60px;
}
