// Containers Styles

.jumbotron {
  background: url(../../../public/img/carousel/background.jpg) repeat-x;
  background-size: contain;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

#banner {
  @include media-breakpoint-down(sm) {
    background: url(../../../public/img/banner/banner.jpg);
    background-size: cover;
  }
}

.carousel-inner {
  height: 461px;
  @include media-breakpoint-up(md) {
    height: 551px;
  }
}

.carousel-item {
  height: 423px;
}

@for $i from 1 through length($carousel-bg-img) {
  $img-path: nth($carousel-bg-img, $i);
  .carousel-inner > .container > div:nth-child(#{$i}) {
    @include media-breakpoint-down(sm) {
      background: url(../../../public/img/carousel/#{$img-path}.jpg);
      background-size: cover;
    }
  }
}

.carousel-indicators {
  & li {
    width: 180px;
    opacity: 0;
    height: 6px;
    // border-top-width: 2px;
    // border-bottom-width: 2px;
    // border-color: black;
    margin-top: 6px;
    margin-bottom: 6px;

    @include media-breakpoint-up(md) {
      text-indent: 0;
    }
  }

  .container {
    height: 551px;
  }

  @include media-breakpoint-up(md) {
    height: 90px;
  }
}

.list-inline-item > p {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60px;
}
